@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-heading: 'Francois One', sans-serif;
	--font-body: 'Open Sans', sans-serif;
}

@layer base {
	html {
		font-family: var(--font-body);
		background-color: theme('colors.neutral.900');
		color: theme('colors.neutral.100');
	}

	body {
		min-height: 100vh;
	}
}
